<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.test.StudentDao">

    <select id="findById" parameterType="Integer" resultType="com.mybatis.test.SC">
        select c.*,s.student_id from course c,
          (select * from sc where sc.student_id =#{id}) s
        where c.course_id = s.course_id and c.course_id in (s.course_id)
    </select>

</mapper>